body {
  width: 1980px;
  height: 1080px;
  margin: ;
}

.first-para {
  position: absolute;
  top: 0;
}

.nuur-zurag img {
  position: relative;
}

.buleg-zurag img {
  width: 300px;
  height: 200px;
}

.buleg-zurag {
  width: 1500px;
}

.naim {
  /* max-width: 800px;
  width: 200px;
  height: 200px; */
  margin-top: 20px;
  display: inline;
}

@media screen and (max-width: 1200px) {
  .naim {
    width: 800px;
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .naim {
    width: 800px;
    display: flex;
  }
}
