* {
  box-sizing: border-box;
}

.lil-body {
  max-width: 1700px;
  width: 100%;
  margin: 30px 30px 0px 30px;
  margin: 0 auto;
}

.nav-tab {
  max-width: 1700px;
  width: 100%;
}

.flex {
  display: flex;
}

.border {
  border-radius: 20px;
}

.changer {
  font-weight: 600;
  font-size: 30px;
  margin-left: 20px;
}

.nav-lef {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 157px;
  width: 100%;
  margin: auto;
}

.nav-left {
  display: flex;
  justify-content: center;
  width: 20%;
}

.nav-mid {
  justify-content: center;
  max-width: 1190px;
  width: 100%;
  visibility: visible;
  margin: 10px;
}

.nav-mid-2 {
  justify-content: center;
  max-width: 1190px;
  width: 100%;
  visibility: visible;
  margin: 10px 10px 10px 0px;
}

/* .nav-mid-1 {
  visibility: hidden;
  width: 0;
  background-color: aqua;
} */

.nav-right {
  display: flex;
  justify-content: center;
  max-width: 257px;
  width: 100%;
  background-color: green;
  margin: 10px 15px 10px 0px;
}

/* .drop-down {
  max-width: 257px;
  width: 100%;
} */

.gray {
  background-color: gray;
}

.pink {
  background-color: pink;
}

.pink-2 {
  background-color: pink;
  max-width: 1700px;
  width: 100%;
}

nav {
  max-width: 100%;
}

.left-side {
  max-width: 20%;
  width: 100%;
  height: 800px;
  margin-top: 10px;
  visibility: hidden;
}


footer {
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

.right-footer {
  margin-right: 50px;
}

/*  Inside    */

.left-image img {
  max-width: 200px;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  /* margin: 40px 0px 0px 70px; */
}

.lil-link {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  /* margin: 40px 0px 0px 100px; */
}


.middle-santa {
  margin: 30px 0px 30px 0px;
}

.clear a {
  text-decoration: none;
  color: black;
}

/*  Inside    */

/*    Inside of Main  */

.main {
  max-width: 1350px;
  width: 100%;
  max-height: 800px;
  height: 100%;
  margin: 10px 0px 0px 10px;
}

.main-lil-div {
  max-width: 200px;
  max-height: 80px;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  background-color: aquamarine;
  flex-direction: column;
  margin: 20px 0px 0px 40px;
}

.main-left-bar {
  max-width: 300px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  top: 0;
  left: 0;
  margin-right: 0;
}

.main-right-thick {
  max-width: 1020px;
  max-height: 550px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  top: 0;
  right: 0;
  margin: 20px 30px 0px 20px;
}

.ondor {
  height: 800px;
} 

.main-footer {
  max-width: 1020px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: red;
  bottom: 0;
}

.row {
  flex-direction: row;
}


.block {
  display: block;
}

.left-image-1 img {
  max-width: 800px;
  max-height: 100px;
  width: 100%;
  height: 100px;
  border-radius: 20px;
}

.left-image-1 {
  max-width: 400px;
  max-height: 100px;
  width: 100%;
  height: 100px;
  padding: 50px 0px 50px 50px;
}

.left-side-tablet {
  visibility: hidden;
  margin-top: 10px;
  height: 0;
}

.lil-link-1 {
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 10px;
  max-width: 250px;
  width: 100%;
}

/*    Inside of Main  */

/*   Responsive   */

@media screen and (max-width: 740px) {
  .left-side-tablet {
    visibility: visible;
    height: 200px;
  }

  .left-side {
    width: 0;
  }


  main {
    max-width: 800px;
    width: 100%;
    margin: 10px 10px 0px 10px;
  }

  .nav-mid {
    max-width: 0;
    width: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 741px) {
  .left-side {
    visibility: visible;
  }

  .nav-mid-2 {
    /* max-height: 0;
    max-width: 0; */
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

/*   Responsive   */


/*   Responsive-phone   */

@media screen and (max-width: 490px) {
  .left-side-tablet {
    visibility: visible;
    height: 200px;
  }

  .left-side {
    width: 0;
  }

  .left-side {
    width: 0;
  }

  main {
    max-width: 800px;
    width: 100%;
    margin: 10px 10px 0px 10px;
  }

  .nav-mid-1 {
    visibility: visible;
  }

  .left-image-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 741px) {
  .left-side {
    visibility: visible;
  }
}


/*   Responsive-phone   */